name: GitHub Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6.2.0
        with:
          go-version-file: go.mod
          cache: true

      - name: Build artifacts
        run: cd cmd/qr-gen && make build windows mac

      - name: Create GitHub Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # 2.5.0
        with:
          generate_release_notes: true
          files: |
            cmd/qr-gen/qr-gen
            cmd/qr-gen/qr-gen.exe
            cmd/qr-gen/qr-gen-darwin-arm64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}